/* ------------------------------PÃGINA ACERCA----------------------------*/
body {
  background-color: #5aa9e6;
}
.about {
  font-size: 1.1em;
  color: black;
  padding: 4em 12em 2em;
  text-align: left;
  margin: 0 auto;
  width: 85%;
}
.about__title {
  color: white;
  font-size: 2em;
  margin-bottom: 1em;
}
.about__subtitle {
  color: white;
  text-align: left;
  font-weight: bold;
  font-size: 1.4em;
  margin: 1.3em auto;
}
.lists > li {
  margin: 0 0 10px 0;
}
.reportagem {
  text-align: center;
  margin: 0 auto;
  width: 85%;
}
.reportagem__video {
  width: 45em;
  height: 30em;
  padding-bottom: 3em;
}

/* -------Animations-----------------*/

.loaded .about {
  animation: fadeIn 0.8s ease-in 0.7s forwards;
}
.about {
  opacity: 0;
}
