/* ------------------------------PÁGINA Ação----------------------------*/
.action__header {
  text-align: center;
  margin-top: 2em;
}
.container__grid {
  margin: 3em auto 10em;
  display: grid;
  width: 75%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  gap: 50px;
}
.box {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-align: center;
}

.form {
  padding: 3em 0;
}

.form__button {
  font-size: 1.3em;
  display: block;
  width: 100%;
  background-color: #e5ceaf;
  border: 2px solid black;
  border-radius: 5px;
  padding: 8px 32px;
  text-decoration: none;
  margin: 3em auto;
  cursor: pointer;
}

.contactos {
  padding: 20px;
  margin: 4em auto;
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.container-border {
  padding: 10px;
  border: 2px solid black;
  text-align: center;
  margin: 50px auto;
  width: 75%;
}
