/* ------------------------------PÁGINA Equipa----------------------------*/

.introduction {
  margin: 3em auto;
  text-align: left;
  font-size: 1.2em;
}

.portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3em;
}
.portfolio .item {
  position: relative;
  width: 160px;
  height: 160px;
  margin: 25px;
}
.portfolio .item img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.portfolio .item .action {
  position: absolute; /*Posiciona-se dentro do container no canto superior esquerdo*/
  top: 0;
  left: 0;
  width: 100%; /* Estas propriedades fazem com que ocupe todo o seu container sendo possível centrá-la agora*/
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Não se vê */
  transition: 0.5s;
  border-radius: 50%;
}
.portfolio .item:hover .action {
  opacity: 1;
}

.portfolio .item .action .name {
  position: absolute;
  top: 10px;
  left: 10;
  color: white;
}
.portfolio .item .action .titulo {
  position: absolute;
  top: 90px;
  left: 10;
  color: white;
}
.portfolio .item .action .funcao {
  position: absolute;
  top: 110px;
  left: 10;
  color: white;
}
