body {
  color: white;
}

.project {
  position: relative;
  height: 80vh;
  background-color: #5aa9e6;
  padding: 5em 2em;
}
.project__divider {
  display: flex;
  justify-content: space-around;
}
.project__image {
  border-radius: 700px;
  width: 500px;
  height: 400px;
}
.project__name__div {
  align-self: center;
}
.project__name {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 4.5em;
}

.newsletter {
  color: #5aa9e6;
  height: 35vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10vh auto;
  align-items: center;
  text-align: center;
}
.newsletter__form {
  width: 35%;
}
.newsletter__headers__header {
  font-size: 2em;
  font-weight: 700;
}
.newsletter__headers__info {
  color: black;
}

.email__input {
  font-size: 1.1em;
  width: 100%;
  border-radius: 10px;
  padding: 12px 32px;
  margin-bottom: 0.2em;
  border: none;
  background-color: #ececec;
}
.email__input:focus {
  outline: 2px solid white;
}
.submit__button {
  color: white;
  font-size: 1.2em;
  display: block;
  width: 100%;
  background-color: #5aa9e6;
  border: 2px solid white;
  border-radius: 10px;
  padding: 12px 32px;
  text-decoration: none;
  margin: 5px auto;
  cursor: pointer;
}
.submit__button:hover {
  background-color: white;
  border: 2px solid #5aa9e6;
  color: #5aa9e6;
}

.custom-shape-divider-bottom-1633361847 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1633361847 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 104px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1633361847 .shape-fill {
  fill: #ffffff;
}
