body {
  background-color: #5aa9e6;
}
.container {
  font-size: 1.1em;
  text-align: center;
  margin: 3em auto 5em;
  width: 75%;
  color: black;
}
.form {
  padding: 3em 0;
}

.form__button {
  font-size: 1.3em;
  display: block;
  width: 100%;
  color: white;
  background-color: #18188c;
  border: 2px solid black;
  border-radius: 5px;
  padding: 8px 32px;
  text-decoration: none;
  margin: 3em auto;
  cursor: pointer;
}
.form__button:hover {
  color: #5aa9e6;
}
.contactos {
  color: #5aa9e6;
  margin: 4em auto;
  display: flex;
  justify-content: space-around;
  text-align: left;
}
.contactos h2 {
  color: white;
}

.container-border {
  background-color: #18188c;
  color: white;
  border: 2px solid black;
  text-align: center;
  margin: 50px auto 50px;
  padding-top: 40px;
  width: 75%;
}
/* -------Animations-----------------*/

.form__button.button-1,
.form__button.button-2,
.form.container h2:nth-child(1),
.form.container h2:nth-child(2),
.form.container h2:nth-child(4),
.form.container h2:nth-child(5),
.container-border {
  opacity: 0;
}
.loaded .form.container h2:nth-child(1) {
  animation: fadeIn 0.7s ease-in 0.7s forwards;
}
.loaded .form.container h2:nth-child(2) {
  animation: fadeIn 1.1s ease-in 0.7s forwards;
}

.loaded .form__button.button-1 {
  animation: fadeIn 1.7s ease-in 0.7s forwards;
}

/*Segundo butao */

.loaded .form.container h2:nth-child(4) {
  animation: fadeIn 2.1s ease-in 0.7s forwards;
}
.loaded .form.container h2:nth-child(5) {
  animation: fadeIn 2.4s ease-in 0.7s forwards;
}
.loaded .form__button.button-2 {
  animation: fadeIn 3s ease-in 0.7s forwards;
}

.loaded .container-border {
  animation: fadeIn 3.3s ease-in 0.7s forwards;
}
