@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}
body {
  background-color: #e5ceaf;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-weight: 500;
}
.navbar {
  background-color: white;
}
.navbar__identification {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  margin-left: 3em;
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.navbar__title {
  align-items: center;
  font-size: 1.4em;
  font-weight: 700;
}
.links > ul {
  display: flex;
  align-items: center;
}
.links > ul > li {
  list-style: none;
  padding: 1.2em;
}
.links > ul > li:last-child {
  padding-right: 3em;
}

.project {
  background-color: #e5ceaf;
  display: flex;
  flex-direction: column;
  margin: 0 2em;
}
.project__logo {
  margin: 0 auto;
  width: 500px;
  height: 400px;
}
.project__name {
  text-align: center;
  font-size: 2.5em;
}
